<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{index::head}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="~{index::header}"></div>
<div th:replace="~{index::navbar}"></div>


<div class="pagetitle">
    <h1>Dashboard</h1>

    <nav style="--bs-breadcrumb-divider: '>';">
        <button data-bs-toggle="modal" data-bs-target="#disablebackdrop" type="button" class="btn btn-primary">
            <i class="bx bxl-facebook-square"></i>
            What's on your mind ?</button>
    </nav>
</div>

<div class="modal fade" id="disablebackdrop" tabindex="-1" data-bs-backdrop="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Disabled Backdrop</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="postForm">

                    <div class="row mb-3">
                        <label for="inputPassword" class="col-sm-2 col-form-label ">Textarea</label>
                        <div class="col-sm-10">
                            <textarea class="form-control quill-editor-default" style="height: 100px" name="content" id="content"></textarea>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="formFile" class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-10">
                            <label for="formFile" style="width: 50px; height: 50px;">
                                Select Photo/Video
                            </label>
                            <input class="form-control" type="file" id="file" name="file" multiple>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="createPost()">POST</button>
            </div>
        </div>
    </div>
</div>
<script>
    function goToCreatePost(){
        window.location.href = '/user/goToCreatePost'
    }

    const fileInput = document.getElementById('file');

    fileInput.addEventListener('change', () => {
        const file = fileInput.files[0];
    const fileName = file.name.toLowerCase();
    const validExtensions = ['jpg', 'jpeg', 'png','gif','bmp','tiff','tif','psv','svg','webp','ico','heic','mp4','avi','mkv','mov','wmv','flv','mpeg','mpg','webm','3gp','ts'];

    if (!validExtensions.includes(fileName.split('.').pop())) {
        alert('Invalid file type. Please select a JPG, JPEG or PNG file.');
        fileInput.value = '';
    }
    });


    async function createPost() {
        let formData = new FormData(document.getElementById('postForm'));
        let files = document.getElementById('file').files;
        for (let i = 0; i < files.length; i++) {
            formData.append('files', files[i]);
        }

        console.log(formData);
        let response = await fetch('/createdPost', {
            method: 'POST',
            body: formData
        });
        console.log(response);
    }
</script>
<div th:replace="~{index::footer}"></div>
</body>
</html>